/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #3a444a;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 1%;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(30, 29, 29, 0.1);
    border-radius: 1%;
    text-align: center;
    justify-content: center;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
